<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="/res/js/angajax.js"></script>
    <title>Yourapp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
FUCKUBITCH!
<img src="/res/1.jpeg" alt="альтернативный текст"/>
</body>
<body>
<div ng-controller="Hello">
    <p>The ID is {{resdata.MODEL_ID}}</p>
    <p>The date is {{resdata.MODEL_DATE}}</p>
    <p>The string is {{resdata.MODEL_STRING}}</p>
</div>
</body>
<div id="feedback"></div>
</html>

